body{
    background-color:  #00e1ff;
    background-image: url('../../images/lblue1.jpg');
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
ul.ulnav{
    border-radius: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0da2b6;
}
li.linav{
    float: center;

}
li.linav a{
    display: block;
    color: #b4f6ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
li.linav a.active{
    display: block;
    color: #b4f6ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
}
li.linav a:hover{
    background-color: rgb(0, 0, 0);
    font-size: 20pt;
}
span.subtitle{
    font-size: 15pt;
    color: #0d7d8b;
    font-family: Verdana;
}
span.maintitle{
    font-size: 20pt;
    color: #0d7d8b;
    font-family: Verdana;

}
a.nav{
    font-size: 10pt;
    color: #000000;
    font-family: Verdana;
    text-decoration: none;
}
a.nav:hover{
    font-size: 12pt;
    color: #2c8874;
    font-family: Verdana;
    text-decoration: none;
}